body {
    background-color: lightblue;
    font-family: 'Montserrat', sans-serif;
    color: #202C39;
    text-align: center;
    overflow-wrap: break-word;
}

    img {
        width: 15em;
        object-fit: contain;
        max-width: 100%;
        height: auto;
    }

    ul {
        text-align: left;
    }

    header {
        margin: 2.5em auto 1.25em auto;
    }

    article {
        display: block;
        float: left;
        margin: 0 auto;
    }


        .asideSection {
            display: block;
            float: right;
            width: 25%;
        }

            aside {
                margin: 4.16em 5em 0 0;
                padding: 1em 2em;
                border-radius: 2em;
                background-color: #F2D492;
                text-align: left;
            }

                .asideTitle {
                    text-align: center;
                }

        .mainSection {
            display: block;
            float: left;
            width: 75%;
        }
        
            .fishSection {
            
            }

                .fishEntry {
                    margin: 1em 5em 1em 2.5em;
                    border-radius: 2em;
                    background-color: #F2D492;
                    padding: 1em 2em;
                }

                    .fishEntryDiv {
                        display: flex;
                        flex-wrap: wrap;
                    }  

                        .fishInfoDiv {
                            display: flex;
                            flex-flow: column wrap;
                            padding: 1em 2em;
                            text-align: left;
                        }
            
            .quoteSection {
                margin: 3em auto;
            }

                .quoteList {
                    display: flex;
                    justify-content: center;
                    margin: 1em 5em 1em 2.5em;
                    padding: 1em 2em;
                    border-radius: 2em;
                    background-color: #F2D492;
                }
            
                    .quoteListLeft {
                        display: block;
                        float: left;
                        margin: 1em 2.5em 1em 5em;
                    }

                    .quoteListRight {
                        display: block;
                        float: right;
                        margin: 1em 5em 1em 2.5em;
                    }

            .locationSectionContainer {
                
            }

                #locationMap {
                    width: 60em;
                    max-width: 85%;
                    height: 40em;
                }

                .locationEntries {
                    display: flex;
                }

                    .locationEntriesLeft {
                        display: block;
                        float: left;
                        width: 50%
                    }

                    .locationEntriesRight {
                        display: block;
                        float: right;
                        width: 50%;
                    }

                        .locationEntry {
                            margin: 1em 5em 1em 2.5em;
                            border-radius: 2em;
                            background-color: #F2D492;
                            padding: 1em 2em;
                        }

                            .locationEntryFlex {
                                display: flex;
                                flex-wrap: wrap;
                            }

                                .locationInfoColumn {
                                    display: flex;
                                    flex-flow: column wrap;
                                    padding: 1em 2em;
                                    text-align: left;
                                }